<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Diabetes@Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0，minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/aboutPages.css" />
    <link rel="stylesheet" href="/css/iconfont.css"/>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
    <header class="header">
      <div class="logo">
        <div class="logoIcon"></div>
        <!-- <span class="homeTitle">Diabetes@Home</span> -->
      </div>
      {{!-- Mobile Version --}}
      <div class="menuButton" id="menuButtonMobile">
        <i class="iconfont icon-menu" onclick="doMenu('menu-m');"></i>
        <div class="menu" id="menu-m">
          <button onclick="doMenu('menu-m');"><span class="back-btn">Back</span> <i class="iconfont icon-long-right-arrow"></i></button>
          <div class="container">
            <a href="/home">
              <i class="iconfont icon-home"></i>
              <span>Home</span>
            </a>
            <a href="/aboutDiabetes">
              <i class="iconfont icon-about-diabetes"></i>
              <span>About diabetes</span>
            </a>
            <a href="/aboutUs">
              <i class="iconfont icon-about-us"></i>
              <span>About this website</span>
            </a>
            {{#if (true isPatient)}}
            <a href="/patient/today"  class="dashboard">
              <i class="iconfont icon-dashboard"></i>
              <span>My Dashboard</span>
            </a>
            <a href="/patient/pda" class="dashboard">
              <i class="iconfont icon-graph"></i>
                <span>View Records</span>
            </a>
            <a href="/patient/profile" class="dashboard">
              <i class="iconfont icon-user"></i>
              <span>My Profile</span>
            </a>
            <a href="/patient/clinician" class="dashboard">
              <i class="iconfont icon-clinician-info"></i>
              <span>My Clinician</span>
            </a>
            {{!-- clinician has no mobile version --}}
            {{!-- {{else}}
              {{#if (false isPatient)}}
              <a href="/clinician"  class="dashboard">
                <i class="iconfont icon-dashboard"></i>
                <span>Dashboard</span>
              </a>
              <a href="/clinician/comment"  class="dashboard">
                <i class="iconfont icon-comment"></i>
                <span>Comment</span>
              </a>
              <a href="/clinician/profile"  class="dashboard">
                <i class="iconfont icon-user"></i>
                  <span>My Profile</span>
              </a>
              {{else}}
              {{/if}} --}}
            {{/if}}
          </div>
            <div class="container">
            {{#if loggedin}}
            <form method="POST" action="/logout" style="margin-bottom: 60px;">
              <button><i class="iconfont icon-logout"></i>Log out</button> 
            </form>
            {{else}}
            <a href="/login" style="margin-bottom: 120px;">
              <i class="iconfont icon-user"></i>
              <span>Login</span>
            </a>
            {{/if}}
            </div>
        </div>
      </div>
      {{!-- Desktop Version --}}
      {{#if loggedin}}
      <div class="menuButton" id="menuButtonDesktop">
        <i class="iconfont icon-menu" onclick="doMenu('menu-d');"></i>
        <div class="menu" id="menu-d">
          <button onclick="doMenu('menu-d');"><span>Back</span> <i class="iconfont icon-long-right-arrow"></i></button>
          <div class="container">
            <a href="/home">
              <i class="iconfont icon-home"></i>
              <span>Home</span>
            </a>
            <a href="/aboutDiabetes">
              <i class="iconfont icon-about-diabetes"></i>
              <span>About diabetes</span>
            </a>
            <a href="/aboutUs">
              <i class="iconfont icon-about-us"></i>
              <span>About this website</span>
            </a>
            {{#if (true isPatient)}}
            <a href="/patient/today" class="dashboard">
              <i class="iconfont icon-dashboard"></i>
              <span>My Dashboard</span>
            </a>
            <a href="/patient/pda" class="dashboard">
              <i class="iconfont icon-graph"></i>
                <span>View Records</span>
            </a>
            <a href="/patient/profile" class="dashboard">
              <i class="iconfont icon-user"></i>
              <span>My Profile</span>
            </a>
            <a href="/patient/clinician" class="dashboard">
              <i class="iconfont icon-clinician-info"></i>
              <span>My Clinician</span>
            </a>
            {{else}}
            <a href="/clinician" class="dashboard">
              <i class="iconfont icon-dashboard"></i>
              <span>Dashboard</span>
            </a>
            <a href="/clinician/comment"  class="dashboard">
              <i class="iconfont icon-comment"></i>
              <span>Comment</span>
            </a>
            <a href="/clinician/profile"  class="dashboard">
              <i class="iconfont icon-user"></i>
              <span>My Profile</span>
            </a>
            {{/if}}

            <form method="POST" action="/logout" style="margin-bottom: 20px;">
              <button><i class="iconfont icon-logout"></i>Log out</button> 
            </form>
          </div>
        </div>
      </div>
      {{else}}
      <nav class="naviBar">
        <a href="/home">
          <div class="naviBarItem">       
            <div class="itemName">Home</div>
            <div class="highLight"></div>
          </div>
        </a> 
        <a href="/aboutDiabetes">
          <div class="naviBarItem">
            <div class="itemName" >About Diabetes</div>
            <div class="highLight"></div>
          </div>
        </a>
        <a href="/aboutUs">
          <div class="naviBarItem">
            <div class="itemName">About Us</div>
            <div class="highLight"></div>
          </div>
        </a>
        <a href="/login">
          <div class="naviBarItem login">Log in</div>
        </a>
      </nav>
      {{/if}}

      <div class="address">
        <span> {{pageName}} ></span>
      </div>
    </header>
    <containt class="content">

        {{{body}}}

    </containt>
    <footer class="footer whiteText">
      <div class="rightFlex">
        <div class="logo">
          <div class="logoIcon"></div>
        </div>
        <h4>Contact us</h4>
        <br />
        <div class="socialMedias">
          <a href="https://www.facebook.com/"
            ><i class="iconfont">&#xe601;</i></a
          >
          <a href="https://twitter.com/"><i class="iconfont">&#xe628;</i></a>
          <a href="https://au.linkedin.com/"
            ><i class="iconfont">&#xe60b;</i></a
          >
        </div>
      </div>
      <div class="leftFlex">
        <div class="info">
          <span>Terms and Conditions</span>
          <span>Privacy Policy</span>
        </div>
        <div class="copyright">
          <h4>@Copyright 2022</h4>
          <span>
            Diabetes@Home - supporting you for a better lifestyle.
          </span>
        </div>
      </div>
    </footer>
</body>
</html>