<head>
    <link rel="stylesheet" href="/css/clinicianDashboard.css" />
</head>
{{#with clinicianDashboardData}}
<div class="banner">
    <div class="welcome-message">Welcome, Dr. {{nameGiven}}!</div>
</div>
<div class="clinician-dashboard">
    <div class="left-page">
        <div class="left-title-line">
            <div class="dashboard-text">
                <h1>DASHBOARD ·</h1>
            </div>
            <div class="current-date">
                <p id="current_date"></p>
                    <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = ((date.getMonth() + 1) < 10 ) ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    day = (date.getDate() < 10 ) ? "0" + date.getDate() : date.getDate();
                    document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
                    </script>
            </div>
            <div class="search-bar">
                <input type="text" class="search-icon" placeholder="Search..">
            </div>
            <button class="add-button">
                <Text class="add">+</Text>
            </button>
        </div>
        <div class="data-record">
            <div class="table-title">
                <table>
                    <tr class="first-row">
                        <td class="name">Name</td>
                        {{#each healthDataList}}
                            <td>{{healthTitle}}</td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            <div class="table-data">
                <table>
                    {{#each patientList}}
                        <tr class="data-row" data-href="/patient/{{_id}}">
                            <td class="patient-name">{{nameGiven}} {{nameFamily}}</td>
                            {{#each recordingData}}
                                <td>
                                    {{#if (hData isRequired)}}
                                        {{#if value}}
                                            {{#if (compare value upperBound)}}
                                            <span class="too-high-value" title="This value is bigger than the upper safety threshold!">{{value}}</span>
                                            {{else}}
                                                {{#if (compare lowerBound value)}}
                                                    <span class="too-low-value" title="This value is smaller than the lower safety threshold!">{{value}}</span>
                                                {{else}}
                                                    <span>{{value}}</span>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            <span title="Missing required data field!">???</span>
                                        {{/if}}
                                    {{else}}
                                        <span title="This data field is not required!">/</span>
                                    {{/if}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </table>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const rows = document.querySelectorAll("tr[data-href]");
                        rows.forEach(row => {
                            row.addEventListener('click', () => {
                                window.location.href = row.dataset.href;
                            })
                        })
                    })
                </script>
            </div>
            
        </div>
    </div>
    <div class="right-page">
        <div class="comment-text">
            COMMENTS FOR TODAY
        </div>
        <div class="comments-for-today">
            <div class="comments-for-today-list">
                <table id="comments-table">
                    {{#each patientList}}
                        {{#each recordingData}}
                            {{#if comment}}
                                <tr class="today-comments-padding-row">
                                    <td></td>
                                </tr>
                                <tr class="today-comments-row1">
                                    <td class="today-comments-patient-name">{{../nameGiven}} {{../nameFamily}}</td>
                                </tr>
                                <tr class="today-comments-row2">
                                    <td class="today-comments-description">Commented on {{dataName}} ({{value}} {{unit}}), {{date}}.</td>
                                </tr>
                                <tr class="today-comments-row3">
                                    <td class="today-comments-content">
                                        <p>
                                            <br>"{{comment}}"<br><br>
                                        </p>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>

{{/with}}