<head>
    <link rel="stylesheet" href="/css/clinicianDashboard.css" />
</head>
{{#with clinicianDashboardData}}
<div class="banner">
    <div class="welcome-message">Welcome, Dr. {{nameGiven}}!</div>
</div>
<div class="clinician-dashboard">
    <div class="left-page">
        <div class="left-title-line">
            <div class="dashboard-text">
                <h1>DASHBOARD ·</h1>
            </div>
            <div class="current-date">
                <p id="current_date"></p>
                    <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = ((date.getMonth() + 1) < 10 ) ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    day = (date.getDate() < 10 ) ? "0" + date.getDate() : date.getDate();
                    document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
                    </script>
            </div>
            <div class="search-bar">
                <input type="text" class="search-icon" placeholder="Search..">
            </div>
            <button class="add-button">
                <div class="add">+</div>
            </button>
            <form action="/patient/add" method="POST" class="cdb-register-area">
                <input type="text" name="emailAddress" placeholder="emailAddress"/>
                <input type="text" name="dateOfBirth" placeholder="dateOfBirth: YYYYMMDD"/>
                <input type="text" name="nameGiven" placeholder="nameGiven"/>
                <input type="text" name="nameFamily" placeholder="nameFamily"/>
                
                <button disabled="disabled">Add New Patient</button>
            </form>
        </div>
        <div class="data-record">
            <div class="table-title">
                <table>
                    <tr class="first-row">
                        <td class="name">Name</td>
                        {{#each healthDataList}}
                            <td>{{healthTitle}}</td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            <div class="table-data">
                <table>
                    {{#each patientList}}
                        <tr class="data-row" data-href="/patient/{{_id}}">
                            <td class="patient-name">{{nameGiven}} {{nameFamily}}{{value}}</td>
                            {{#each recordingData}}
                                <td>
                                    {{#if (hData isRequired)}}
                                        {{#if value}}
                                            {{#if (compare value upperBound)}}
                                            <span class="too-high-value" title="This value is bigger than the upper safety threshold!">{{value}}</span>
                                            {{else}}
                                                {{#if (compare lowerBound value)}}
                                                    <span class="too-low-value" title="This value is smaller than the lower safety threshold!">{{value}}</span>
                                                {{else}}
                                                    <span>{{value}}</span>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            <span title="Missing required data field!">???</span>
                                        {{/if}}
                                    {{else}}
                                        <span title="This data field is not required!">/</span>
                                    {{/if}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </table>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const rows = document.querySelectorAll("tr[data-href]");
                        rows.forEach(row => {
                            row.addEventListener('click', () => {
                                window.location.href = row.dataset.href;
                            })
                        })
                    })
                </script>
            </div>
            
        </div>
    </div>
    <div class="right-page">
        <div class="comment-text">
            COMMENTS FOR TODAY
        </div>
        <div class="comments-for-today">

        </div>
    </div>
</div>

{{/with}}

<script>
    let registerArea = document.getElementsByClassName("cdb-register-area")[0];

    class Btn {
        constructor(btnNode){
            this.btn = btnNode;
            this.locks = [false,false,false,false];
        }

        lock(index) {
            this.locks[index] = false;
            this.btn.disabled = true;
        }

        unlock(index) {
            this.locks[index] = true;
            if(this.locks.every(item => item)) {
                this.btn.disabled = false;
            }
        }
    }
    
    let submitBtn = new Btn(registerArea.children[4]);

    // email
    let emailInput = registerArea.children[0];
    emailInput.addEventListener('blur', function() {
        var reg = /^[0-9a-zA-Z_.-]+[@][0-9a-zA-Z_.-]+([.][a-zA-Z]+){1,2}$/;
        if (reg.test(this.value)) {
            this.style.borderColor = "green";
            submitBtn.unlock(0);
        } else {
            this.style.borderColor = "red";
            submitBtn.lock(0);
        }
    })

    // date of birth
    let dateInput = registerArea.children[1]
    dateInput.addEventListener('keyup', (e) => {
        if(window.isNaN(Number(e.key))){
            dateInput.value = dateInput.value.substr(0, dateInput.value.length - 1);
        }
        const regExp = new RegExp(/[\d]/g);
        if(dateInput.value.length == 4){
            dateInput.value += "/"
        }
        else if(dateInput.value.length == 7){
            dateInput.value += "/"
        }
        else if(dateInput.value.length > 10){
            dateInput.value = dateInput.value.substr(0, dateInput.value.length - 1);
        }
    })

    dateInput.addEventListener('blur',function () {
        if(dateInput.value.length === 10){
            this.style.borderColor = "green";
            submitBtn.unlock(1);
        } else {
            this.style.borderColor = "red";
            submitBtn.lock(1);
        }
    })

    // name 
    for(let i = 2; i < 4; i++){
        registerArea.children[i].addEventListener('keyup', function() {
            let regExp = /^(?!(\s+$))/;
            if(this.value.length !== 0 && regExp.test(this.value)){
                this.style.borderColor = "green";
                submitBtn.unlock(i);
            } else {
                this.style.borderColor = "red";
                submitBtn.lock(i);
            }
        })
    }
    
</script>