<head>
    <link rel="stylesheet" href="/css/singlePatient.css" />
</head>
{{#with todayPatientData}}
<div class="banner">
    <div class="left"> < back </div>
    <div class="right">
        <div style="font-weight: 800;">Welcome Message: </div>
        <div class="message">"{{#if this.welcomeMessage}}{{this.welcomeMessage}}{{else}}default support message{{/if}}"</div>
    </div>
</div>
<div class="single-patient">
    <div class="left-page">
        <h4>Clinician Name: {{this.nameGiven}} {{this.nameFamily}}</h4>
        <p>Patients Healthdata Today:</p>
        <div class="data-record">
            <div class="table-title">
                <table>
                    <tr class="first-row">
                        <td class="date">Name</td>
                        {{#each healthDataList}}
                            <td>{{healthTitle}}</td>
                        {{/each}}
                        {{!-- <td class="bgLevel">Blood Glucose Level (mmol/L)</td>
                        <td class="weight">Weight (kg)</td>
                        <td class="insulinTaken">Insulin Taken (dose)</td>
                        <td class="exercise">Exercise(step count)</td> --}}
                    </tr>
                </table>
            </div>
            <div class="table-data">
                <table>
                    {{#each patientList}}
                        <tr class="data-row">
                            <td class="date">{{nameGiven}} {{nameFamily}}{{value}}</td>
                            {{#each recordingData}}
                                <td>
                                    {{#if (hData isRequired)}}
                                        {{#if value}}
                                            {{#if (compare value upperBound)}}
                                            <span style="color: red;">{{value}}</span>
                                            {{else}}
                                                {{#if (compare lowerBound value)}}
                                                    <span style="color: blue;">{{value}}</span>
                                                {{else}}
                                                    <span>{{value}}</span>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            ???
                                        {{/if}}
                                    {{else}}
                                        /
                                    {{/if}}
                                </td>
                            {{/each}}
                            {{!-- <td class="bgLevel">{{#if (hData this.recordingData.[0].isRequired)}}{{#if this.recordingData.[0].value}}{{this.recordingData.[0].value}}{{else}}???{{/if}}{{else}}/{{/if}}</td>
                            <td class="weight">{{#if (hData this.recordingData.[1].isRequired)}}{{#if this.recordingData.[1].value}}{{this.recordingData.[1].value}}{{else}}???{{/if}}{{else}}/{{/if}}</td>
                            <td class="insulinTaken">{{#if (hData this.recordingData.[2].isRequired)}}{{#if this.recordingData.[2].value}}{{this.recordingData.[2].value}}{{else}}???{{/if}}{{else}}/{{/if}}</td>
                            <td class="exercise">{{#if (hData this.recordingData.[3].isRequired)}}{{#if this.recordingData.[3].value}}{{this.recordingData.[3].value}}{{else}}???{{/if}}{{else}}/{{/if}}</td> --}}
                        </tr>
                    {{/each}}
            </table>
            </div>
            
        </div>
    </div>
    <div class="right-page">
        <div class="data-setting">

        </div>
        <div class="notes">

        </div>
    </div>
</div>

{{/with}}