<head>
    <link rel="stylesheet" href="/css/patientDashboard.css" />
</head>
{{#with todayHealthData}}
<div class="banner">
    <div class="support-message">Welcome Sunny! 🏠</div>
    <div class="clinician-icon">
        <i>🙋🏽</i>
        <div class="red-dot"></div>
    </div>
</div>
<div class="today-content">
    <div class="today-records">
        <div class="records-title">
            <div class="text">
                <div>Today's Records:</div>
                <div>18/04/2022</div>
            </div>
            <div class="completion">
                <p style="margin: auto;">66%</p>
            </div>
        </div>
        <div class="record-area">
            {{#if (hData this.recordingData.[0].isRequired)}}
            <div class="record-item  form-group">
                <div class="item">Blood Glucose Level</div>
                <div class="item-down">
                    <form action="/today/add" method="POST" style="display: contents;">
                        <input type="text" class="form-control" name="clinicianId" value="{{this.clinicianId}}" style="display:none">
                        <input type="text" class="form-control" name="patientId" value="{{this._id}}" style="display:none">
                        <input type="text" class="form-control" name="healthDataId" value="625576a5bcd6f0a12a5e5fa6" style="display:none">
                        <input type="text" class="form-control" name="comment" value="default comment" style="display:none">
                        <div class="value">
                            {{#if this.recordingData.[0].value}}
                            <input type="text" class="form-control" name="value" placeholder="{{this.recordingData.[0].value}}" disabled>
                            {{else}}
                            <input type="text" class="form-control" name="value" placeholder="">
                            {{/if}}
                        </div>
                        <div class="edit">
                            {{#if this.recordingData.[0].value}}
                            <button type="submit" class="btn btn-primary disabled" disabled></button>
                            {{else}}
                            <button type="submit" class="btn btn-primary enabled"></button>
                            {{/if}}
                        </div>
                    </form>
                </div>
            </div>
            {{else}}
            <div class="record-noitem">
                <div class="item">Blood Glucose Level</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit">
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if (hData this.recordingData.[1].isRequired)}}
            <div class="record-item  form-group">
                <div class="item">Weight</div>
                <div class="item-down">
                    <form action="/today/add" method="POST" style="display: contents;">
                        <input type="text" class="form-control" name="clinicianId" value="{{this.clinicianId}}" style="display:none">
                        <input type="text" class="form-control" name="patientId" value="{{this._id}}" style="display:none">
                        <input type="text" class="form-control" name="healthDataId" value="625576a8bcd6f0a12a5e5fa7" style="display:none">
                        <input type="text" class="form-control" name="comment" value="default comment" style="display:none">
                        <div class="value">
                            {{#if this.recordingData.[1].value}}
                            <input type="text" class="form-control" name="value" placeholder="{{this.recordingData.[1].value}}" disabled>
                            {{else}}
                            <input type="text" class="form-control" name="value" placeholder="">
                            {{/if}}
                        </div>
                        <div class="edit">
                            {{#if this.recordingData.[1].value}}
                            <button type="submit" class="btn btn-primary disabled" disabled></button>
                            {{else}}
                            <button type="submit" class="btn btn-primary enabled"></button>
                            {{/if}}                       
                        </div>
                    </form>
                </div>
            </div>
            {{else}}
            <div class="record-noitem">
                <div class="item">Weight</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            {{/if}}
            {{#if (hData this.recordingData.[2].isRequired)}}
            <div class="record-item  form-group">
                <div class="item">Insulin Doses</div>
                <div class="item-down">
                    <form action="/today/add" method="POST" style="display: contents;">
                        <input type="text" class="form-control" name="clinicianId" value="{{this.clinicianId}}" style="display:none">
                        <input type="text" class="form-control" name="patientId" value="{{this._id}}" style="display:none">
                        <input type="text" class="form-control" name="healthDataId" value="625576acbcd6f0a12a5e5fa8" style="display:none">
                        <input type="text" class="form-control" name="comment" value="default comment" style="display:none">
                        <div class="value">
                            {{#if this.recordingData.[2].value}}
                            <input type="text" class="form-control" name="value" placeholder="{{this.recordingData.[2].value}}" disabled>
                            {{else}}
                            <input type="text" class="form-control" name="value" placeholder="">
                            {{/if}}
                        </div>
                        <div class="edit">
                            {{#if this.recordingData.[2].value}}
                            <button type="submit" class="btn btn-primary disabled" disabled></button>
                            {{else}}
                            <button type="submit" class="btn btn-primary enabled"></button>
                            {{/if}}                        
                        </div>
                    </form>
                </div>
            </div>
            {{else}}
            <div class="record-noitem">
                <div class="item">Insulin Doses</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            {{/if}}
            {{#if (hData this.recordingData.[3].isRequired)}}
            <div class="record-item  form-group">
                <div class="item">Step Counts</div>
                <div class="item-down">
                    <form action="/today/add" method="POST" style="display: contents;">
                        <input type="text" class="form-control" name="clinicianId" value="{{this.clinicianId}}" style="display:none">
                        <input type="text" class="form-control" name="patientId" value="{{this._id}}" style="display:none">
                        <input type="text" class="form-control" name="healthDataId" value="625576b0bcd6f0a12a5e5fa9" style="display:none">
                        <input type="text" class="form-control" name="comment" value="default comment" style="display:none">
                        <div class="value">
                            {{#if this.recordingData.[3].value}}
                            <input type="text" class="form-control" name="value" placeholder="{{this.recordingData.[3].value}}" disabled>
                            {{else}}
                            <input type="text" class="form-control" name="value" placeholder="">
                            {{/if}}
                        </div>
                        <div class="edit">
                            {{#if this.recordingData.[3].value}}
                            <button type="submit" class="btn btn-primary disabled" disabled></button>
                            {{else}}
                            <button type="submit" class="btn btn-primary enabled"></button>
                            {{/if}}                        
                        </div>
                    </form>
                </div>
            </div>
            {{else}}
            <div class="record-noitem">
                <div class="item">Step Counts</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            {{/if}}
        </div>
         <div class="more-data">
            View More Data
        </div>
    </div>
    <div class="dashboard-middle-line"></div>
    <div class="leader-board">
        <div class="board-title">
            <div class="text">
                <div>Leaderboard:</div>
                <div>18/04/2022</div>
            </div>
        </div>
        <div class="board-area">
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">1</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">2</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">3</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">4</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">5</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
        </div>
    </div>
</div>

{{/with}}
