<head>
    <link rel="stylesheet" href="/css/profilePage.css" />
</head>

{{#with patientData}}
<div class ="upper-box"></div>
<div class="profile"> 
    <img class="profile-photo" src="/img/defaultProfile.png", alt="default_profile_picture">
    <p class="profile-name"> {{this.profileName}}</p>
</div>
<div class = "information-box">
    <div class="info-text">

        <p class="data-field">Full name</p>
        <p class="value"> {{this.nameGiven}} {{this.nameFamily}} <hr class="line"> </p>

        <p class="data-field">Date of Birth</p>
        <p class="value"> {{this.dateOfBirth}} <hr class="line"> </p>

        <p class="data-field">Email Address</p>
        <p class="value"> {{this.emailAddress}} <hr class="line"> </p>

        <p class="data-field">Phone Number</p>
        <p class="value"> {{this.phoneNumber}} <hr class="line"> </p>

        <p class="data-field">Home Address</p>
        <p class="value"> {{this.homeAddress}} <hr class="line"> </p>

        <p class="data-field">Password</p>
        <p class="value"> {{this.password}} <hr class="line"> </p>

        <p class="data-field">Brief Text Bio</p>
        <p class="value"> {{this.briefTextBio}} <hr class="line"> </p>
    </div>
</div>
{{/with}}