<head>
    <link rel="stylesheet" href="/css/singlePatient.css" />
</head>
{{#with singlePatientData}}
<div class="banner">
    <div class="left"> < back </div>
    <div class="right">
        <div style="font-weight: 800;">Support Message: </div>
        <div class="message">"{{#if this.supportMessage}}{{this.supportMessage}}{{else}}default support message{{/if}}"</div>
    </div>
</div>
<div class="single-patient">
    <div class="left-page">
        <div class="info">
            <div class="avatar"></div>
            <div class="info-text">
                <h1>{{this.name}}</h1>
                <p>Age: {{this.birthday}}</p>
                <p>Phone: {{this.phone}}</p>
                <p>Email: {{this.email}}</p>
                <p>Address: {{this.address}}</p>
                <p>Bio: {{this.bio}}</p>
            </div>
            <div class="compeletion"></div>            
        </div>
        <div class="data-record">
            <div class="table-title">
                <table>
                    <tr class="first-row">
                        <td class="date">Date</td>
                        <td class="bgLevel">Blood Glucose Level (mmol/L)</td>
                        <td class="weight">Weight (kg)</td>
                        <td class="insulinTaken">Insulin Taken (dose)</td>
                        <td class="exercise">Exercise(step count)</td>
                    </tr>
                </table>
            </div>
            <div class="table-data">
                <table>
                {{!-- <tr class="first-row">
                    <td class="date">Date</td>
                    <td class="bgLevel">Blood Glucose Level (mmol/L)</td>
                    <td class="weight">Weight (kg)</td>
                    <td class="insulinTaken">Insulin Taken (dose)</td>
                    <td class="exercise">Exercise(step count)</td>
                </tr> --}}
                {{#each this.healthData}}
                <tr class="data-row">
                    <td class="date">{{this.date}}</td>
                    {{!-- <td class="bgLevel">{{#if this.bgLevel}}{{#if this.bgLevel eq ''}}need record{{/if}}{{else}}{{this.bgLevel}}{{else}}-{{/if}}</td> --}}
                    <td class="bgLevel">{{#if this.bgLevel}}{{this.bgLevel}}{{else}}-{{/if}}</td>
                    <td class="weight">{{#if this.weight}}{{this.weight}}{{else}}-{{/if}}</td>
                    <td class="insulinTaken">{{#if this.insulinTaken}}{{this.insulinTaken}}{{else}}-{{/if}}</td>
                    <td class="exercise">{{#if this.exercise}}{{this.exercise}}{{else}}-{{/if}}</td>
                </tr>
                {{/each}}
            </table>
            </div>
            
        </div>
    </div>
    <div class="right-page">
        <div class="data-setting">

        </div>
        <div class="notes">

        </div>
    </div>
</div>

{{/with}}