<head>
    <link rel="stylesheet" href="/css/singlePatient.css" />
</head>
{{#with singlePatientData}}
<div class="sp-banner">
    <div class="sp-banner-left"> < back </div>
    <div class="sp-banner-right">
        <form action="/patient/updateSupportMessage" method="post" id="update" style="width: 100%;">
            <input type="text" class="form-control" name="patientId" value="{{patientData._id}}" style="display:none">
            
            <label style="font-weight: 800;" for="supportMessage">Support Message: </label>
            <input type="text" id="sp-message" name="supportMessage" 
                placeholder="Type new note here" 
                value="{{#if patientData.supportMessage}}{{patientData.supportMessage}}{{else}}default support message{{/if}}"
                disabled>

            <input type="submit" id="sp-confirm-btn" value="&#xe63b;" class="iconfont display-none sp-msg-btns">
            <input type="reset" id="sp-cancel-btn" value="&#xe65f" class="iconfont display-none sp-msg-btns" onclick="cancelSupportMessage()">
            {{!-- <input class="button" id="reset-btn" type="reset" value=" Cancel" onclick="cancelChanges()"style="visibility:hidden"> --}}
        </form>
        <div>
            <button class="sp-msg-btns" id="sp-edit-msg-btn" onclick="editSupportMessage()">
                <i class="iconfont icon-edit-clinician"></i>
            </button>
        </div>
        {{!-- <div style="font-weight: 800;">Support Message: </div>
        <div class="sp-message">"{{#if patientData.supportMessage}}{{patientData.supportMessage}}{{else}}default support message{{/if}}"</div> --}}
    </div>
    
</div>
<div class="sp-content">
    <div class="sp-left-page">
        <div class="sp-info">
            <div class="sp-avatar"></div>
            <div class="sp-info-text">
                <h1>{{patientData.nameGiven}} {{patientData.nameFamily}}</h1>
                <p>Age: {{patientAge}} years old</p>
                <p>Phone: {{patientData.phoneNumber}}</p>
                <p>Email: {{patientData.emailAddress}}</p>
                <p>Address: {{patientData.homeAddress}}</p>
                <p>Bio: {{patientData.briefTextBio}}</p>
            </div>
            <div class="compeletion"></div>            
        </div>
        <div class="sp-data-record">
            <div class="sp-table-header">
                <table>
                    <tr class="first-row">
                        <td class="date">Date</td>
                        {{#each healthDataList}}
                            <td>{{healthTitle}}</td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            <div class="sp-table-data">
                <table>
                    {{#each recordList}}
                        <tr class="data-row">
                            <td class="date">{{date}}</td>
                            {{#each recordingData}}
                                <td>
                                    {{#if (hData isRequired)}}
                                        {{#if value}}
                                            {{#if (compare value upperBound)}}
                                            <span class="too-high-value" title="This value is bigger than the upper safety threshold!">{{value}}</span>
                                            {{else}}
                                                {{#if (compare lowerBound value)}}
                                                    <span class="too-low-value" title="This value is smaller than the lower safety threshold!">{{value}}</span>
                                                {{else}}
                                                    <span>{{value}}</span>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            <span title="Missing required data field!">???</span>
                                        {{/if}}
                                    {{else}}
                                        <span title="This data field is not required!">/</span>
                                    {{/if}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </table>
            </div>
            
        </div>
    </div>
    <div class="sp-right-page">
        <form id="sp-data-setting" action="/patient/editDataSetting" method="post">
            {{!-- adding patient's id for update method --}}
            <input type="text" name="patientId" value="{{patientData._id}}" style="display:none">

            <div class="sp-data-setting-header-edit">
                <div class="sp-data-setting-header">DATA SETTING</div>
                <span><button type="button" id="sp-edit-data-setting-btn" class="sp-data-setting-btn" onclick="editDataSetting()">Edit</button></span>

                <button type="submit" id="sp-data-save-btn" class="sp-data-setting-btn display-none">Save</button>
                <button id="sp-data-cancel-btn" class="sp-data-setting-btn display-none" onclick="cancelDataSetting()">Cancel</button>

            </div>
            
            <div class="sp-wrapper">
                {{#each dataSetting}}
                    <input type="text" name="healthDataId" value="{{healthDataId}}" style="display:none">

                    <div>
                        {{#if isRequired}}
                            <div class="sp-hdata-title">
                                <div><button type="button" class="square-btn checked-btn display-none"></button></div>
                                <div>{{healthDataTitle}}</div>
                            </div>

                            <div class="edit-field display-none">
                                <div class="sp-hdata-upperbound">
                                    <span class="status-dot sp-upperbound"></span>                                
                                    <label style="font: inherit;" for="upperbound"> Upperbound: </label>
                                    <input type="number" id="hdata-upperbound" class="data-setting-upperbound" name="upperbound" 
                                        value="{{upperBound}}">
                                </div>
                                <div class="sp-hdata-lowerbound">
                                    <span class="status-dot sp-lowerbound"></span>
                                    <label style="font: inherit;" for="lowerbound"> Lowerbound: </label>
                                    <input type="number" id="hdata-lowerbound" class="data-setting-lowerbound" name="lowerbound" 
                                        value="{{lowerBound}}">
                                </div>
                            </div>

                            <div class="display-field">
                                <div class="sp-hdata-upperbound">
                                    <span class="status-dot sp-upperbound"></span> Upperbound: {{upperBound}}
                                </div>
                                <div class="sp-hdata-lowerbound">
                                    <span class="status-dot sp-lowerbound"></span> Lowerbound: {{lowerBound}}
                                </div>
                            </div>
                            
                        {{else}}
                            <div class="sp-hdata-title">
                                <span><button type="button" class="square-btn display-none"></button></span>
                                <div>{{healthDataTitle}}</div>
                            </div>
                            {{!-- <div class="{{#if isRequired}}"></div> --}}
                            <div class="edit-field display-none">
                                <div class="sp-hdata-upperbound">
                                    <span class="status-dot"></span>                                
                                    <label style="font: inherit;" for="upperbound"> Upperbound: </label>
                                    <input type="number" id="hdata-upperbound" class="data-setting-upperbound disabled-edit-field" name="upperbound" 
                                        value="" style="display: none;">
                                </div>
                                <div class="sp-hdata-lowerbound">
                                    <span class="status-dot"></span>
                                    <label style="font: inherit;" for="lowerbound"> Lowerbound: </label>
                                    <input type="number" id="hdata-lowerbound" class="data-setting-lowerbound disabled-edit-field" name="lowerbound" 
                                        value="" style="display: none;">
                                </div>
                            </div>

                            <div class="display-field">
                                <div class="sp-hdata-upperbound">
                                    <span class="status-dot"></span> Upperbound: -
                                </div>
                                <div class="sp-hdata-lowerbound">
                                    <span class="status-dot"></span> Lowerbound: -
                                </div>
                            </div>

                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </form>
        <section id="notes">
            <h2>NOTES</h2>
            <div class="sp-notes">
                <div class="add-note-container">
                    <form action="/patient/addNote" method="post" id="add-note">
                        <input type="text" class="form-control" name="patientId" value="{{patientData._id}}" style="display:none">
                        <input type="submit" id="sp-addNote-btn" value="&#xe845;" class="iconfont">
                        <input type="text" id="sp-addNote-field" name="note" placeholder="Type new note here">
                    </form>
                </div>
                <div class="sp-notes-table">
                    <table>
                        {{#each noteList}}
                            <tr class="note-row">
                                <td class="note-datetime">
                                    <div class="note-date">{{date}}</div>
                                    <div class="note-time">{{time}}</div>
                                </td>
                                <td class="note-text">
                                    {{note}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div id="sp-parse-js">{{code}}</div>
</div>

{{/with}}

<script src="../public/js/singlePatient.js" type="text/javascripts"></script>
