<head>
    <link rel="stylesheet" href="/css/singlePatient.css" />
</head>
{{#with singlePatientData}}
<div class="sp-banner">
    <div class="sp-banner-left"> < back </div>
    <div class="sp-banner-right">
        <div style="font-weight: 800;">Support Message: </div>
        <div class="sp-message">"{{#if patientData.supportMessage}}{{patientData.supportMessage}}{{else}}default support message{{/if}}"</div>
    </div>
</div>
<div class="sp-content">
    <div class="sp-left-page">
        <div class="sp-info">
            <div class="sp-avatar"></div>
            <div class="sp-info-text">
                <h1>{{patientData.nameGiven}} {{patientData.nameFamily}}</h1>
                <p>Age: {{patientData.dateOfBirth}}</p>
                <p>Phone: {{patientData.phoneNumber}}</p>
                <p>Email: {{patientData.emailAddress}}</p>
                <p>Address: {{patientData.homeAddress}}</p>
                <p>Bio: {{patientData.briefTextBio}}</p>
            </div>
            <div class="compeletion"></div>            
        </div>
        <div class="sp-data-record">
            <div class="sp-table-title">
                <table>
                    <tr class="first-row">
                        <td class="date">Date</td>
                        {{#each healthDataList}}
                            <td>{{healthTitle}}</td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            <div class="sp-table-data">
                <table>
                    {{#each recordList}}
                        <tr class="data-row">
                            <td class="date">{{date}}</td>
                            {{#each recordingData}}
                                <td>
                                    {{#if (hData isRequired)}}
                                        {{#if value}}
                                            {{#if (compare value upperBound)}}
                                            <span class="too-high-value" title="This value is bigger than the upper safety threshold!">{{value}}</span>
                                            {{else}}
                                                {{#if (compare lowerBound value)}}
                                                    <span class="too-low-value" title="This value is smaller than the lower safety threshold!">{{value}}</span>
                                                {{else}}
                                                    <span>{{value}}</span>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            <span title="Missing required data field!">???</span>
                                        {{/if}}
                                    {{else}}
                                        <span title="This data field is not required!">/</span>
                                    {{/if}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </table>
            </div>
            
        </div>
    </div>
    <div class="sp-right-page">
        <section id="sp-data-setting">
            <div class="sp-data-setting-header-edit">
                <div class="sp-data-setting-header">DATA SETTING</div>
                <span><button class="sp-data-edit-btn">Edit</button></span>
            </div>
            <div class="sp-wrapper">
                {{#each dataSetting}}
                    <div>
                        <div class="sp-hdata-title">{{healthDataTitle}}</div>
                        {{#if isRequired}}
                            <div><span class="status-dot sp-upperbound"></span> Upperbound: {{upperBound}}</div>
                            <div><span class="status-dot sp-lowerbound"></span> Lowerbound: {{lowerBound}}</div>
                        {{else}}
                            <div>Upperbound: -</div>
                            <div>Lowerbound: -</div>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </section>
        <section id="notes">
            <h2>NOTES</h2>
            <div>
                {{#each noteList}}
                    <div>{{date}}, {{time}}, {{note}}</div>
                {{/each}}
            </div>
            {{!-- <form action="/patient/add" method="post">
                <input type="submit" value="➕" id="sp-addNote-btn">
                <input type="text" name="note" placeholder="Type new note here" id="sp-addNote-textbox">
            </form> --}}
            {{!-- <table id="notes-add">
                {{#each patientNotes}}
                    <tr class="data-row">
                        <td>{{this.date}}</td>
                        <td>{{this.content}}</td>
                    </tr>
                {{/each}}
                <tr>
                    <td id="sp-addNote-btn">➕</td>
                    <td id="sp-addNote-textbox">Type new note here</td>
                </tr>
            </table>
            <table id="clinician-notes">
                <tr  class="note">
                    <td class="notes-date">date</td>
                    <td class="notes-text">example note</td>
                    <td class="notes-edit">✏</td>
                    <td class="notes-bin">🚮</td>
                </tr>
            </table> --}}
        </section>
    </div>
</div>

{{/with}}